 /************ Global *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

legend {
  color: #ECDB54;
  margin-bottom: 5px;
  font-size: 12px;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 4px;
  font-size: 14px;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: block;
  clear: both;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #ECDB54;
  color: #ECDB54;
  margin-left: 50%;
  margin-top: 20px;
  transform: translate(-50%, 0); 
  transition: .3s all ease-in-out;
}
 .btn:hover {
   background: #ECDB54;
   color: #6B5B95;
   transform: translate(-50%, 0) scale(1.04); 
 }


 /************ Local *****************/
 .min-field {
  width: 40%;
  float: left;
 }

 .max-field {
  width: 40%;
  float: right;
 }

.container {
  height: 100vh;
  
}

.form-wrapper{
  width: 80%;
  margin: 30px auto;
}

.input-field{
  padding: 4px 0;
}

.btn-submit {
  background: #6B5B95;
  font-size: 14px;
  padding: 0;
}

.game-section {
  width: 70%;
  height: 100%;
  float: left;
  background-color: #F0EDE5;
  z-index: 2;
}

.side-section {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #6B5B95;
}

.canvas-wrapper {
  border: 2px solid #6B5B95;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 60px;
  box-sizing: content-box;
}

.display {
  width: 80%;
  height: 40px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  border: 2px solid #ECDB54;
  margin-left: 50%;
  margin-top: 20px;
  transform: translate(-50%, 0); 
  color: #ECDB54;
}

.dot {
  width: 4px;
  height: 4px;
  display: inline-block;
  background-color: #6B5B95;
  position: absolute;
  border-radius: 50%;
}

